<%- include('head') %>
<%- include('header') %>

<main class="container my-5 text-center">
  <h1 class="display-4 text-danger"><i class="bi bi-exclamation-triangle"></i> Erreur</h1>
  <p class="lead"><%= message %></p>
  <a href="/" class="btn btn-primary">Retour à l'accueil</a>
</main>

<%- include('footer') %>
